﻿<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<title>Walgreens</title>

</head>

<body>
<table width="574" border="0" align="center" cellpadding="0" cellspacing="12">
  <tr>
    <td valign="bottom" colspan="3" style="height:64px">
    <table border="0" width="100%"><tr><td align="left"><img src='http://wagoutreach.com/images/wags_email_logo.png'/> </td>
    <td align="right" valign="bottom"><div style="font-family: Arial, Helvetica, sans-serif;font-size: 16px;font-weight: bold;color: #999999;"><%MailType%></div></td>
    </tr></table></td>
  </tr>
  <tr >
    <td colspan="3"style="font-size:18px; color: White; font-family: Arial, Helvetica, sans-serif; padding: 3px; font-weight: bold;" bgcolor="#57a1d3"> Community Outreach </td>
  </tr>
  <tr>
    <td colspan="3" ><div style="font-family: Arial, Helvetica, sans-serif;font-size: 12px;color: #000000;"><p ><strong><%Date%></strong></p>
      <p ><%DearUserName%></p>
	  <p>The following counts represent the current standings with the community outreach efforts.</p>
	  <p><%mailBody%></p>
	  <p>To view additional reports and contact logs, click here<a href='<%mailLinkName%>'> <%mailLink%> </a></p>	 
    </div>
	</td>
  </tr>  
  <tr>
    <td colspan="3" ><div style="font-family: Arial, Helvetica, sans-serif;font-size: 12px;color: #000000;">
      <p><%mailFooterText%></p>
        <p>Thank you!</p></div></td>
  </tr>
  <tr>
    <td colspan="3" bgcolor="#57a1d3" width="570" height="24"></td>
  </tr>
  <tr>
    <td colspan="3" align="right"><table><tr><td colspan="2" align="right" valign="top">
        &nbsp;</td></tr></table></td>
  </tr>
</table>
</body>
</html>
