.picker
{
  background-color: #FFFFFF;
  border: 1px gray solid;
  font-size: 12px;
  font-weight: bold;
  font-family: 'Bitstream Vera Sans Mono', 'Courier New', Monospace;
  padding: 2px;
  cursor: pointer;
}

.calendar_button
{
	border:none;
	cursor:pointer;
}

.calendar td
{
  font-size:11px;
}

.title
{
  font-weight:bold;
  background-color:#D7D7E5;
}

.day
{
  width:25px;
  cursor:pointer;
  text-align:center;
  border-width:1px;
  border-color:#F6F6F6;
  border-style:solid;
}

.dayhover
{
  width:25px;
  cursor:pointer;
  text-align:center;
  text-decoration:underline;
  border-width:1px;
  border-color:#F6F6F6;
  border-style:solid;
}

.dayheader
{
  width:25px;
  text-align:center;
  border-width:1px;
  border-color:white;
  border-style:solid;
  font-weight:bold;
  background-color:#FFFFFF;
}

.othermonthday
{
  color:#999999;
}

.selectedday
{
  width:25px;
  background-color:#FBE694;
  color:#000000;
  border-width:1px;
  border-color:#BB5503 !important;
  border-style:solid;
  font-weight:bold;
}
.datedisabled
{
  background-color:#ffffff;
  text-decoration : none; 
  cursor :not-allowed;
  width:25px;
  color:red;
  border-width:0px;
  border-color:#BB5503 !important;
  border-style:solid;
}
.calendar
{
  border-style:solid;
  border-width:1px;
  border-color:Black;
  border-collapse:collapse;
  background-color:#FFFFFF;
  cursor:default;
}

.month
{
  background-color:#F6F6F6;
  margin-left:5px;
  margin-right:5px;
  margin-bottom:5px;
  margin-top:0px;
}

.nextprev
{
  cursor:pointer;
  height:25px;
  vertical-align:middle;
  padding:0px 5px 0px 5px;
}
