.ddcolortabs{
padding: 0;
width: 100%;
background: transparent;
voice-family: "\"}\"";
voice-family: inherit;
}

.ddcolortabs ul{
font: normal 11px Arial, Verdana, sans-serif;
margin:0;
padding:0;
list-style:none;
}

.ddcolortabs li{
display:inline;
margin:0 2px 0 0;
padding:0;
text-transform:uppercase;
}


.ddcolortabs a{
float:left;
color: white;
/*background: black url(media/color_tabs_left.gif) no-repeat left top;*/
/*margin:0 2px 0 0;*/
/*padding:0 0 1px 3px;*/
text-decoration:none;
letter-spacing: 1px;
}

.ddcolortabs a span{
float:left;
display:block;
/*background: transparent url(media/color_tabs_right.gif) no-repeat right top;
padding: 4px 8px 2px 7px;*/
}

.ddcolortabs a span{
float:none;
}

.ddcolortabs a:hover{
background-color: #57a1d3;
}

.ddcolortabs a:hover span{
background-color: #57a1d3;
}

.ddcolortabs .selected a, #ddcolortabs .selected a span{ /*currently selected tab*/
background-color: #57a1d3;
}

.ddcolortabsline{
clear: both;
padding: 0;
width: 100%;
height: 12px;
line-height: 8px;
background: black;
border-top: 1px solid #fff; /*Remove this to remove border between bar and tabs*/
}

/* ######### Style for Drop Down Menu ######### */

.dropmenudiv_a{
position:absolute;
top: 0;
border: 1px solid black; /*THEME CHANGE HERE*/
border-top-width: 0px; /*Top border width. Should match height of .ddcolortabsline above*/
border-bottom-width: 0;
font:normal 12px Arial;
line-height:18px;
z-index:200;
background-color: white;
width: auto;
min-width:250px;
visibility: hidden;
}


.dropmenudiv_a a{
width: auto;
display: block;
text-indent: 5px;
border-top: 0 solid #3096D8;
border-bottom: 1px solid #3096D8; /*THEME CHANGE HERE*/
padding: 2px 0;
text-decoration: none;
color: black;
height:25px;
min-width:290px;
white-space:nowrap
}

* html .dropmenudiv_a{ /*IE only hack*/
width: 250px;
}

* html .dropmenudiv_a a{ /*IE only hack*/
width: 290px;
}

.dropmenudiv_a a:hover{ /*THEME CHANGE HERE*/
background-color: #57a1d3;
color: white;
}