﻿.GridFooterText
{
	color: #333333;
	font-family: Arial, Helvetica, Sans-Serif;
	font-size: 11px;
	background-color:#FFFFFF;
	padding-left: 3px;
	padding-right:3px;
	padding-bottom:2px;
	padding-top:1px;

}
.GridClass
{
  CURSOR: default
}
.footerGrey {
	background-color: #b2b2b2;
	height: 10px
}
.historyGridColTitle 
{
	text-align:left;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 11px;
	color: #FFFFFF;
	background-color: #B2B2B2;
}
.Row
{
	background-color: #FFFFFF;
	cursor: default;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 10px;
	text-align:left;
	vertical-align:top;
}

.PagerText
{
	font-family: Arial, Helvetica, sans-serif;
	font-size: 11px;
} 

.wrapword
{ 
 white-space: -moz-pre-wrap !important;  /* Mozilla, since 1999 */ 
 white-space: -pre-wrap;      /* Opera 4-6 */ 
 white-space: -o-pre-wrap;    /* Opera 7 */ 
 white-space: pre-wrap;       /* css-3 */ 
 word-wrap: break-word;       /* Internet Explorer 5.5+ */ 
}