﻿@charset "UTF-8";
.mainNavBar {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	font-weight: bold;
	color: #FFFFFF;
	background-color: #FFFFFF;
	background-image: url(../images/navigation/main_nav_t_bkgd.gif);
	background-repeat: repeat-x;
}
.mainNavBarText {
	background-color: #FFFFFF;
	background-image: url(../images/navigation/main_nav_t_bkgd.gif);
	background-repeat: repeat-x;
	padding-top: 6px;
}
.class10 A:link {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	font-weight: bold;
	color: #FFFFFF;
	text-decoration: none;
	padding-left: 20px; 
}
.class10 A:visited {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	font-weight: bold;
	color: #FFFFFF;
	text-decoration: none;
	padding-left: 20px; 
}
.class10 A:active {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	font-weight: bold;
	color: #FFFFFF;
	text-decoration: none;
	padding-left: 20px; 
}
.class10 A:hover {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	font-weight: bold;
	text-decoration: none;
	color: #ffff66;
	padding-left: 20px; 
}
.class11 A:link {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	font-weight: bold;
	color: #FFFFFF;
	text-decoration: none;
	padding-right: 20px; 
}
.class11 A:visited {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	font-weight: bold;
	color: #FFFFFF;
	text-decoration: none;
	padding-right: 20px; 
}
.class11 A:active {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	font-weight: bold;
	color: #FFFFFF;
	text-decoration: none;
	padding-right: 20px; 
}
.class11 A:hover {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	font-weight: bold;
	text-decoration: none;
	color: #ffff66;
	padding-right: 20px; 
}

.class2 A:link {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	color: #FFFFFF;
	text-decoration: none;
}
.class2 A:visited {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	color: #FFFFFF;
	text-decoration: none;
}
.class2 A:active {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	color: #FFFFFF;
	text-decoration: none
}
.class2 A:hover {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	text-decoration: none;
	color: #ffff66;
}
.class12 A:link {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	color: #FFFFFF;
	text-decoration: none;
	padding-right: 20px;
}
.class12 A:visited {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	color: #FFFFFF;
	text-decoration: none;
	padding-right: 20px;
}
.class12 A:active {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	color: #FFFFFF;
	text-decoration: none;
	padding-right: 20px;
}
.class12 A:hover {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	text-decoration: none;
	color: #ffff66;
	padding-right: 20px;
}
.class13 A:link {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	color: #FFFFFF;
	text-decoration: none;
	padding-left: 20px;
}
.class13 A:visited {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	color: #FFFFFF;
	text-decoration: none;
	padding-left: 20px;
}
.class13 A:active {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	color: #FFFFFF;
	text-decoration: none;
	padding-left: 20px;
}
.class13 A:hover {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	text-decoration: none;
	color: #ffff66;
	padding-left: 20px;
}
.class14 A:link {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	color: #333333;
	text-decoration: underline;
	font-weight:bold;
	
}
.class14 A:visited {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	color: #333333;
	text-decoration: underline;
	font-weight:bold;
	
}
.class14 A:active {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	color: #333333;
	text-decoration: underline;
	font-weight:bold;
}
.class14 A:hover {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	text-decoration: underline;
	color: #FF8313;
	font-weight:bold;
	
}

.class3 A:link {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	color: #990000;
}
.class3 A:visited {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	color: #990000;
}
.class3 A:active {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	color: #990000;
}
.class3 A:hover {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	color: #990000;
}
.class4 A:link {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	color: #003A80;
}
.class4 A:visited {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	color: #003A80;
}
.class4 A:active {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	color: #003A80;
}
.class4 A:hover {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	color: #003A80;
}
.class5 A:link {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	color: #0099D1;
	text-decoration: none
}
.class5 A:visited {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	color: #003A80;
	text-decoration: none

}
.class5 A:active {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	color: #003A80;
	text-decoration: none

}
.class5 A:hover {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	color: #003A80;
	text-decoration: none

}
.class6 A:link {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 11px;
	color: #FFFFFF;
	text-decoration: none;
}
.class6 A:visited {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 11px;
	color: #FFFFFF;
	text-decoration: none;
}
.class6 A:active {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 11px;
	color: #FFFFFF;
	text-decoration: none;
}
.class6 A:hover {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 11px;
	text-decoration: none;
	color: #ffff66;
}
.class7 A:link {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	color: #000000;
	font-weight: bold;
	
}
.class7 A:visited {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	color: #000000;
	font-weight: bold;

}
.class7 A:active {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	color: #000000;
	font-weight: bold;

}
.class7 A:hover {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	color: #000000;
	font-weight: bold;

}
.class8 A:link {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	color: #0099D1;
}
.class8 A:visited {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	color: #0099D1;
}
.class8 A:active {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	color: #0099D1;
}
.class8 A:hover {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	color: #0099D1;
}


.mainFooter {
	background-color: #FFFFFF;
	background-image: url(../images/navigation/main_nav_b_bkgd.gif);
	background-repeat: repeat-x;
}
.insetHeadText {
	background-color: #FFFFFF;
	background-image: url(../images/inset/inset_t_bkgd.gif);
	background-repeat: repeat-x;
	padding-top: 9px;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 14px;
	font-weight: bold;
	color: #666666;
	padding-left: 3px;
}
.insetHead {
	background-color: #FFFFFF;
	background-image: url(../images/inset/inset_t_bkgd.gif);
	background-repeat: repeat-x;
}
.insetBtmBorder {
	border-bottom-width: 1px;
	border-bottom-style: solid;
	border-bottom-color: #CCCCCC;
}
.insetLftBorder {
	border-left-width: 1px;
	border-left-style: solid;
	border-left-color: #CCCCCC;
}
.insetRtBorder {
	border-right-width: 1px;
	border-right-style: solid;
	border-right-color: #CCCCCC;
}
.insetBorder {
	border-right-width: 1px;
	border-right-style: solid;
	border-right-color: #CCCCCC;
	border-left-width: 1px;
	border-left-style: solid;
	border-left-color: #CCCCCC;
	padding-right: 9px;
	padding-left: 9px;
	padding-top: 9px;
	padding-bottom: 3px;
}
.centerLine {
	background-image: url(../images/inset/cccccc_pixel.gif);
	background-repeat: repeat-y;
	padding-right: 11px;
	padding-left: 11px;
	background-position: center;
}
.insetProgramDetails {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	color: #333333;
	padding-top: 6px;
}
.insetBorderNoPad {
	border-right-width: 1px;
	border-right-style: solid;
	border-right-color: #CCCCCC;
	border-left-width: 1px;
	border-left-style: solid;
	border-left-color: #CCCCCC;
}
.scheduleGridHead {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 10px;
	font-weight: bold;
	color: #FFFFFF;
	background-color: #B0B0B0;
}
.scheduleGridText {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 10px;
	color: #333333;
}
.navBar {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	color: #FFFFFF;
}
.navBarRight {
	background-image: url(../images/navigation/nav_r_end.gif);
	background-repeat: no-repeat;
	background-position: right;
	height: 27px;
	width: 7px;
}

.insetRegText {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	color: #333333;
}
.redText {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	color: #cc0000;
}

.quoteBkgd {
	background-image: url(../images/inset/quote_bkgd.gif);
	background-repeat: no-repeat;
	height: 41px;
	width: 240px;
}
.insetBorderGrey {
	border-right-width: 1px;
	border-right-style: solid;
	border-right-color: #CCCCCC;
	border-left-width: 1px;
	border-left-style: solid;
	border-left-color: #CCCCCC;
	background-color: #f1f1f1;
}
.insetBorders {
	border-right-width: 1px;
	border-left-width: 1px;
	border-right-style: solid;
	border-left-style: solid;
	border-right-color: #CCCCCC;
	border-left-color: #CCCCCC;
}
.insetBtmBorderGrey {
	border-bottom-width: 1px;
	border-bottom-style: solid;
	border-bottom-color: #CCCCCC;
	background-color: #f1f1f1;
}
.insetTitles {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	font-weight: bolder;
	color: #333333;
}
.insetTitles2 {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 11px;
	font-weight: bolder;
	color: #333333;
}

.formFields {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	color: #333333;
}
.salonID {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 18px;
	color: #333333;
}
.gridHeader {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	font-weight: bold;
	color: #FFFFFF;
}
.note {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 10px;
	color: #FFFFFF;
}
.gridText {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	color: #333333;
	border-bottom-width: 1px;
	border-bottom-style: solid;
	border-bottom-color: #666666;
}
h3 {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 16px;
	font-weight: bold;
	color: #00428E;
}
.gridTextBlue {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	color: #003B7F;
	border-bottom-width: 1px;
	border-bottom-style: solid;
	border-bottom-color: #666666;
}
.layoutTitle {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	color: #00428E;
	padding-top: 5px;
	padding-right: 8px;
	padding-bottom: 5px;
	padding-left: 8px;
	border-top-width: 1px;
	border-right-width: 1px;
	border-bottom-width: 1px;
	border-left-width: 1px;
	border-top-style: solid;
	border-right-style: solid;
	border-bottom-style: dotted;
	border-left-style: solid;
	border-top-color: #CCCCCC;
	border-right-color: #CCCCCC;
	border-bottom-color: #CCCCCC;
	border-left-color: #CCCCCC;
	width: 188px;
}
.layoutDisplayHead {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 14px;
	font-weight: bold;
	color: #333333;
	line-height: 15px;
}
.displayTitlePad {
	padding-top: 10px;
	padding-bottom: 5px;
}
.layoutPad {
	padding: 8px;
	border-right-width: 1px;
	border-left-width: 1px;
	border-right-style: solid;
	border-left-style: solid;
	border-left-color: #CCCCCC;
	border-right-color: #CCCCCC;
}
.layoutPadSelected {
	padding: 8px;
	border-right-width: 1px;
	border-left-width: 1px;
	border-right-style: solid;
	border-left-style: solid;
	border-left-color: #666666;
	border-right-color: #666666;
	background-color: #FDD08C
}

.noteK {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 11px;
	color: #333333;
}
.insetPadding {
	padding-top: 8px;
	padding-right: 6px;
	padding-bottom: 8px;
	padding-left: 3px;
}
.insetPadding1 {
	padding-top: 8px;
	padding-right: 3px;
	padding-bottom: 8px;
	padding-left: 3px;
	
}
.insetPadding2 {
	padding-top: 8px;
	padding-bottom: 8px;
}
.insetPadding3 {
	padding-top: 10px;
	
}

.subtotal {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	color: #333333;
	border-top-width: 1px;
	border-top-style: solid;
	border-top-color: #666666;
}
.gridHeaderSmall {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 10px;
	font-weight: normal;
	color: #FFFFFF;
}
.gridHeaderMed {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 11px;
	font-weight: normal;
	color: #FFFFFF;
}
.welcome {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	color: #003A80;
	font-weight: normal;
	padding-left: 25px;
	padding-top: 40px;
}
.mapBorder {
	border-top-width: 2px;
	border-right-width: 1px;
	border-bottom-width: 1px;
	border-left-width: 2px;
	border-top-style: solid;
	border-right-style: solid;
	border-bottom-style: solid;
	border-left-style: solid;
	border-top-color: #999999;
	border-right-color: #999999;
	border-bottom-color: #999999;
	border-left-color: #999999;
}
.firstHeading {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 18px;
	color: #333333;
	font-weight: bold;
}
.bodyContent {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 11px;
	color: #333333;
}
.insetTitlesBlue {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	font-weight: bold;
	color: #333333;
}
.layoutOrderPad {
	padding: 8px;
	border-right-width: 1px;
	border-left-width: 1px;
	border-right-style: solid;
	border-left-style: solid;
	border-left-color: #CCCCCC;
	border-right-color: #CCCCCC;
	border-bottom-width: 1px;
	border-bottom-style: solid;
	border-bottom-color: #CCCCCC;
}
.editorTitles {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	font-weight: bold;
	color: #333333;
}
.editorTitles2 {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 14px;
	font-weight: bold;
	color: #333333;
	padding-top: 10px;
}
.editorFormFields {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	color: #333333;
}
.layoutBkgdGIGO1 {
	background-color: #FFFFFF;
	background-image: url(../jazzercise/acquisition/backGroundImage/SM0510_editor_bkgd1.jpg);
	height: 452px;
	width: 859px;
	background-repeat: no-repeat;
	padding-top: 80px;
}
.layoutBkgdGIGO2 {
	background-color: #FFFFFF;
	background-image: url(../jazzercise/acquisition/backGroundImage/FAM0510_editor_bkgd1.jpg);
	height: 452px;
	width: 859px;
	background-repeat: no-repeat;
	padding-top: 80px;
}

body {
	padding-left: 20px;
	padding-right: 20px;

}
.buttonPad {
	padding-right: 70px;
}
.couponBase {
	padding-left: 5px;
	padding-right: 5px;
	padding-top: 2px;
	padding-bottom: 2px;
	background-color: #ffffff;
}
.editorNumbers {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 24px;
	font-weight: bold;
	color: #990000;
}

.errorMessages 
{
	font-family: Arial, Helvetica, sans-serif;
	font-size: 18px;
    font-weight: bold;
}
.insetRegTextNote {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 10px;
	color: #333333;
	padding-left: 12px;
}
.home_ad_bkgd {
	background-image: url(../images/home/ad_rotator_bkgd.jpg);
	background-repeat: no-repeat;
	height: 193px;
	width: 373px;
}
.insetRegText11 {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 11px;
	color: #333333;
}
.adLinkPad {
	padding-left: 55px;
	padding-top: 8px;
	padding-right: 12px;
}
.adSubhead {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	color: #333333;
	padding-right: 12px;
	padding-left: 18px;
}
.white11 {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 11px;
	color: #FFFFFF;
}
.blue11 {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 11px;
	color: #00428e;
	
}
.schedToolb5rBkgd {
	background-color: #666666;
	background-image: url(../images/navigation/schedule_toolbar_bkgd.gif);
	background-repeat: repeat-x;
	background-position: bottom;
}
.orderDisplay {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	font-weight: bold;
	color: #666666
}


.modalBackground  
{
    position: absolute; 
    left: 0; 
    top: 0;
    width: 100%;
    height: 1100px; 
    display: none;
    z-index: 101;
    opacity: .90;
    filter: alpha(opacity=90);
    -moz-opacity: .90;
    background: #FFFFFF;
}
.modalBackground_2  
{
    position: absolute; 
    left: 0; 
    top: 0;
    

    width: 100%;
    height: 2400px; 
    display: none;
    z-index: 101;
    opacity: .90;
    filter: alpha(opacity=90);
    -moz-opacity: .90;
    background: #888888;
}
    
.waitMessage
{
    font-family: Arial, Helvetica, sans-serif;
    font-weight:bold;
    font-size: 10px;
    color: #333333;
}
.dataVisDisplay {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 11px;
	font-weight: bold;
	color: #666666;
	padding-bottom: 5px;
	padding-right: 8px
}
.wrapword
{ 
 white-space: -moz-pre-wrap !important;  /* Mozilla, since 1999 */ 
 white-space: -pre-wrap;      /* Opera 4-6 */ 
 white-space: -o-pre-wrap;    /* Opera 7 */ 
 white-space: pre-wrap;       /* css-3 */ 
 word-wrap: break-word;       /* Internet Explorer 5.5+ */ 
}.formHead {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 14px;
	font-weight: bold;
	color: #333333;	
}
