﻿.tmcSideBkgd{ 
	background-image: url(common/tmcImages/backgrounds/tmc_side_bkgd.jpg);
	background-repeat: repeat-x;
	padding-left: 5px;
	padding-right: 5px;
}
html, body
{
    margin: 0;
    padding: 0;
    height: 100%;
    border: none;
}
.body
{
    color: #000000;
    font-family: Arial, Helvetica, Sans-Serif;
    font-size: 12px;
    margin-top: 0px;
    margin-bottom: 10px;
}

.bodysmall
{
    color: #000000;
    font-family: Arial, Helvetica, Sans-Serif;
    font-size: 10px;
    margin-top: 0px;
    margin-bottom: 10px;
}

.bodysmallerboldital
{
    color: #000000;
    font-family: Arial, Helvetica, Sans-Serif;
    font-size: 9px;
    font-weight:bold;
    font-style:italic;
}

.bodysmallerital
{
    color: #000000;
    font-family: Arial, Helvetica, Sans-Serif;
    font-size: 9px;
    font-style:italic;
}

.bodybold
{
    color: #000000;
    font-family: Arial, Helvetica, Sans-Serif;
    font-size: 12px;
    font-weight: bold;
    margin-top: 0px;
    margin-bottom: 10px;
}
.bodyerror
{
    color: #db0c41;
    font-family: Arial, Helvetica, Sans-Serif;
    font-size: 12px;
    font-weight: bold;
    margin-top: 0px;
    margin-bottom: 10px;
}

.pageHead
{
    color: #00447C;
    font-family: Arial;
    font-weight: bold;
    font-size: 30px;
    margin-top: 0px;
    margin-bottom: 0px;
}

.pageSubhead
{
    color: #00447C;
    font-family: Arial;
    font-weight: bold;
    font-size: 14px;
    margin-left: 50px;
    margin-top: 0px;
    margin-bottom: 0px;
}

.homeHead
{
    color: #00447C;
    font-family: Arial;
    font-weight: bold;
    font-size: 18px;
    margin-top: 0px;
    margin-bottom: 0px;
}

.subhead
{
    color: #00447C;
    font-family: Arial;
    font-weight: bold;
    font-size: 14px;
    margin-top: 5px;
    margin-bottom: 0px;
}



.bodyBoldWhite
{
    color: #ffffff;
    font-family: Arial;
    font-weight: bold;
    font-size: 13px;
}

.bodyWhite
{
    color: #ffffff;
    font-family: Arial;
    font-size: 11px;
}
.loginButton
{
    padding-left: 0px;
    margin-left: 0px;
    margin-top: 10px;
}

.errorSmall
{
    color: #db0c41;
    font-size: 11px;
    font-family: Arial, Helvetica, sans-serif;
    font-style: normal;
    font-weight: bold;
    text-align: left;
    padding-left: 12px;
	padding-top: 10px;
	padding-bottom: 10px;

}

.controlHeadText
{
    color: #999999;
    font-family: Arial;
    font-weight: bold;
    font-size: 14px;
}
.controlText
{
    color: #333333;
    font-family: Arial;
    font-weight: bold;
    font-size: 11px;
}
.control_Text
{
    color: #333333;
    font-family: Arial;
    font-weight: bold;
    font-size: 13px;
}
.controlTextMinor
{
    color: #333333;
    font-family: Arial;
    font-size: 11px;
    text-align:left;
}

.queryPulldownControl
{
    background-color: #a9c6ec;
    color: #000000;
    font-family: Arial;
    font-weight: bold;
    font-size: 11px;
    left: 10px;
    position: relative;
}

.junkPulldownControl
{
    color: #000000;
    left: 10px;
    position: relative;
}

.headerBar
{
    background-color: #a9c6ec;
    height: 103px;
    width: 100%;
    position: relative;
    left: 0px;
    top: -18px;
    padding-top: 5px;
    padding-bottom: 5px;
}

.headerText
{
    padding: 10px;
    padding-left: 110px;
    width:500px;
}


.queryPulldown
{
    margin-top: 0px;
    margin-bottom: 0px;
    padding-top: 5px;
    padding-bottom: 5px;
    position: relative;
}
.nav
{
    color: #ffffff;
    font-family: Arial;
    font-size: 10px;
    text-align: center;
}
.navSupervalu
{
    color: #000000;
    font-family: Arial;
    font-size: 10px;
    text-align: center;
}

.nav a:link, .nav a:visited
{
    color: #ffffff;
    background-color: transparent;
    text-decoration: none;
}
.navSupervalu a:link, .navSupervalu a:visited
{
    color: #000000;
    background-color: transparent;
    text-decoration: none;
}


table.query
{
    margin-left: auto;
    margin-right: auto;
    position: relative;
    width: 255px;
    top: 20px;
}

table.center
{
    margin-left: auto;
    margin-right: auto;
    width: 232px;
}

p.error, p.error a:active, p.error a:visited
{
    font-weight: bold;
    color: Red;
    text-decoration: none;
}

p.error a:hover
{
    color: Red;
    text-decoration: underline;
}

p.warning, p.warning a:active, p.warning a:visited
{
    font-weight: bold;
    color: Yellow;
    text-decoration: none;
}

p.warning a:hover
{
    color: Yellow;
    text-decoration: underline;
}

p.message
{
    font-weight: bold;
    color: Green;
}

.nav a:hover, .nav a:active
{
    color: #e5c767;
}
.hideme
{
	display:none;
}
.showme
{
	display:inline;
}
/* for help */
/* @charset "UTF-8"; */
.helpBody {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 11px;
	color: #000000;
}
.helpBodyBd {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 11px;
	color: #000000;
	font-weight: bold;
}
.HelpWarning {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 11px;
	color: #990000;
	font-weight: bold;
}
.HelpTitles {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 14px;
	font-weight: bold;
	color: #000000;
}
.formText {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 11px;
	color: #333333;
}
.legendText {
	color: #000000;
	font-size: 10px;
	font-family: Arial, Helvetica, Sans-Serif;
	padding-left: 3px;
}

.userControlDisplay
{
    padding-left:19px;
}
.userControlDisplay1
{
    padding-left:29px;
}

.userControlDisplay2
{
    padding-left:10px;
}
.userControlDisplay3
{
    padding-left:6px;
}