@charset "UTF-8";
.wagsInstrBoxRoundedCorners
{
    border-color: #999;
    border-style: solid;
    border-width: 2px;
    border-radius: 8px 8px 8px 8px;
    -webkit-border-radius: 8px 8px 8px 8px;
    -moz-border-radius: 8px 8px 8px 8px;
    position: relative;
}

.footerText
{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 12px;
    text-decoration: none;
    color: #666666;
    line-height: 18px;
}
.class24 A:link
{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 12px;
    text-decoration: underline;
    color: #57a1d3;
    font-weight: bold;
    line-height: 20px;
}
.class24 A:visited
{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 12px;
    text-decoration: underline;
    color: #57a1d3;
    font-weight: bold;
    line-height: 18px;
}
.class24 A:active
{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 12px;
    text-decoration: underline;
    color: #57a1d3;
    font-weight: bold;
    line-height: 18px;
}
.class24 A:hover
{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 12px;
    text-decoration: underline;
    color: #3070A7;
    font-weight: bold;
    line-height: 18px;
}
.backgroundGradient
{
    background-image: url(../images/bg-gradient.gif);
    background-repeat: repeat-x;
    background-position: top;
}
.backgroundGradientLog
{
    background-image: url(../images/log_gradient.jpg);
    background-repeat: repeat-x;
    background-position: bottom;
    border: 1px solid #999;
}
.dropShadow
{
    -moz-box-shadow: 0 3px 5px #888;
    -webkit-box-shadow: 0 3px 5px#888;
    box-shadow: 0 3px 5px #888;
    behavior: url(../css/PIE.htc); /*position: relative;*/
}
.wagsAddress
{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 12px;
    font-weight: bold;
    color: #333;
}
.statusLine
{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 12px;
    font-weight: normal;
    color: #E51836;
    width: 260px;
    display: normal;
}
.subheadGreen
{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 18px;
    font-weight: bold;
    color: #FFF;
    background-color: #7bc045;
    padding-right: 12px;
    padding-bottom: 12px;
    padding-left: 24px;
    height: 60px;
    vertical-align: bottom;
    text-align: left;
}
.navTitle
{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 18px;
    font-weight: bold;
    color: #333;
    background-color: #F9F9F9;
    padding-right: 12px;
    padding-bottom: 12px;
    padding-left: 20px;
    height: 60px;
    vertical-align: bottom;
    text-align: left;
}
.navLanding
{
    background-color: #F9F9F9;
    padding-right: 12px;
    padding-bottom: 24px;
    padding-left: 30px;
    height: 60px;
    vertical-align: top;
    text-align: left;
    padding-top: 0px;
}
.landingDescriptions
{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 12px;
    color: #333;
    text-align: left;
    vertical-align: top;
    padding-top: 12px;
    padding-right: 0px;
    padding-bottom: 24px;
    padding-left: 24px;
    line-height: 18px;
}
.logSubTitles
{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 12px;
    font-weight: bold;
    color: #333;
}
.pageTitle
{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 18px;
    font-weight: bold;
    color: #333;
    padding-bottom: 8px;
    border-bottom-width: 1px;
    border-bottom-style: solid;
    border-bottom-color: #999;
}
.subTitle
{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 14px;
    font-weight: bold;
    color: #333;
    padding-bottom: 8px;
    border-bottom-width: 1px;
    border-bottom-style: solid;
    border-bottom-color: #999;
}
.resourcesTitle
{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 14px;
    font-weight: bold;
    color: #333;
}
.formFields
{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 12px;
    color: #333;
}
.formFields2
{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 11px;
    color: #333;
}
.logTitle
{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 16px;
    font-weight: bold;
    color: #3096D8;
}
.navBar
{
    background-color: #57a1d3;
    height: 25px;
}
.landingHeadBkgd
{
    background-color: #FFF;
    background-image: url(../images/walgreens_store.jpg);
    background-repeat: no-repeat;
    background-position: right top;
    height: 302px;
}
.class1 A:link
{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 16px;
    color: #FFFFFF;
    text-decoration: none;
    color: #333333;
}
.class1 A:visited
{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 16px;
    color: #FFFFFF;
    text-decoration: none;
    color: #333333;
}
.class1 A:active
{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 16px;
    color: #FFFFFF;
    text-decoration: underline;
    color: #62a336;
}
.class1 A:hover
{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 16px;
    color: #FFFFFF;
    text-decoration: underline;
    color: #62a336;
}
.logTitle1
{
    font-family: Verdana;
    font-size: 13px;
    color: #3096D8;
}
.formFieldsBlack
{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 14px;
    font-weight: bold;
}
.profileTitles
{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 12px;
    color: #666666;
    font-weight: bold;
}
.profileTabs
{
    font-family: Arial, Helvetica, sans-serif;
    font: 12px;
    color: #333333;
    background-image: url(../images/profileTabBkgd.png);
    background-repeat: no-repeat;
    text-align: center;
    vertical-align: middle;
    height: 30px;
    width: 163px;
}
.profileBorder
{
    border-right-width: 1px;
    border-bottom-width: 1px;
    border-left-width: 1px;
    border-right-style: solid;
    border-bottom-style: solid;
    border-left-style: solid;
    border-right-color: #CCCCCC;
    border-bottom-color: #CCCCCC;
    border-left-color: #CCCCCC;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-right: 5px;
    padding-left: 5px;
}
.profileBorderTop
{
    border-bottom-width: 1px;
    border-bottom-style: solid;
    border-bottom-color: #CCCCCC;
}
.profileInstructions
{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 11px;
    color: #333333;
    font-weight: normal;
    padding-bottom: 5px;
}
.profilePagePad
{
    background-color: #FFFFFF;
    padding-top: 20px;
    padding-right: 20px;
    padding-left: 20px;
}
.profileFormObject
{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 12px;
    color: #495057;
}
.profileTitles
{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 12px;
    color: #666666;
    font-weight: bold;
}
.profileTabs
{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 12px;
    color: #333333;
    background-image: url(../images/profileTabBkgd.png);
    background-repeat: no-repeat;
    text-align: center;
    vertical-align: middle;
    height: 30px;
    width: 163px;
}

.profileTabs1
{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 12px;
    color: #333333;
    background-color: blue;
    background-repeat: no-repeat;
    text-align: center;
    vertical-align: middle;
    height: 30px;
    width: 163px;
}
.bestPracticesText
{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 12px;
    color: #1C2023;
    line-height: 16px;
}
.bestPracticesTopic
{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 14px;
    color: #0785C6;
    font-weight: bold;
}
.bestPracticesSubTitle
{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 20px;
    font-weight: bold;
    color: #000000;
    padding-bottom: 3px;
}
.bestPracticesPagePad
{
    background-color: #FFFFFF;
    padding-right: 20px;
    padding-left: 20px;
    padding-bottom: 20px;
}
.preferredPick
{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 14px;
    color: #FFFFFF;
    background-color: #7bc045;
    border: 1px solid #999;
    padding: 5px;
}
.class2 A:link
{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 11px;
    color: #333;
    text-decoration: underline;
}
.class2 A:visited
{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 11px;
    color: #333;
    text-decoration: underline;
}
.class2 A:active
{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 11px;
    color: #333;
    text-decoration: underline;
}
.class2 A:hover
{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 11px;
    color: #3096D8;
    text-decoration: underline;
}

.wagsRoundedCorners
{
    background-color: #EFEFEF;
    border-color: #999;
    border-style: solid;
    border-width: 2px;
    border-radius: 8px 8px 8px 8px;
    -webkit-border-radius: 8px 8px 8px 8px;
    -moz-border-radius: 8px 8px 8px 8px;
    position: relative;
}
.pageTitle2
{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 18px;
    font-weight: bold;
    color: #333;
    padding-bottom: 4px;
}
.noteText
{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 10px;
    color: #333;
}

/*------------ User Editor Styles -- START ------------*/
.gridHeadGradient
{
    background-color: #FFFFFF;
    background-image: url(../images/gridHeadGradient.jpg);
    background-repeat: repeat-x;
    background-position: top;
}

.class14 A:link
{
    font-family: "Trebuchet MS" , Arial, Helvetica, sans-serif;
    font-size: 11px;
    text-decoration: none;
    color: #333333;
    padding-left: 3px;
    padding-right: 3px;
}
.class14 A:visited
{
    font-family: "Trebuchet MS" , Arial, Helvetica, sans-serif;
    font-size: 11px;
    text-decoration: none;
    color: #333333;
    padding-left: 3px;
    padding-right: 3px;
}
.class14 A:active
{
    font-family: Trebuchet MS, Arial, Helvetica, sans-serif;
    font-size: 11px;
    color: #333333;
    text-decoration: none;
    padding-left: 3px;
    padding-right: 3px;
}
.class14 A:hover
{
    font-family: Trebuchet MS, Arial, Helvetica, sans-serif;
    font-size: 11px;
    color: #E59D30;
    text-decoration: none;
    padding-left: 3px;
    padding-right: 3px;
}
.categoryNavTitle
{
    font-family: "Trebuchet MS" , Arial, Helvetica, sans-serif;
    font-size: 14px;
    font-weight: normal;
    color: #333333;
    padding-top: 6px;
    padding-right: 10px;
    padding-bottom: 6px;
    padding-left: 10px;
}
.categoryNav
{
    padding-top: 6px;
    padding-right: 10px;
    padding-bottom: 6px;
    padding-left: 10px;
    font-family: "Trebuchet MS" , Arial, Helvetica, sans-serif;
    font-size: 12px;
    color: #333333;
}
.innerHeadTitle
{
    font-family: "Trebuchet MS" , Arial, Helvetica, sans-serif;
    font-size: 14px;
    font-weight: normal;
    color: #FFFFFF;
    padding-top: 6px;
    padding-right: 10px;
    padding-bottom: 6px;
    padding-left: 10px;
    background-color: #b2b2b2;
}
.innerHeadNav
{
    padding-top: 6px;
    padding-right: 10px;
    padding-bottom: 6px;
    padding-left: 10px;
    font-family: "Trebuchet MS" , Arial, Helvetica, sans-serif;
    font-size: 12px;
    color: #FFFFFF;
    background-color: #b2b2b2;
}
.class23 A:link
{
    font-family: "Trebuchet MS" , Arial, Helvetica, sans-serif;
    font-size: 11px;
    text-decoration: none;
    color: #ffffff;
    padding-left: 3px;
    padding-right: 3px;
}
.class23 A:visited
{
    font-family: "Trebuchet MS" , Arial, Helvetica, sans-serif;
    font-size: 11px;
    text-decoration: none;
    color: #ffffff;
    padding-left: 3px;
    padding-right: 3px;
}
.class23 A:active
{
    font-family: Trebuchet MS, Arial, Helvetica, sans-serif;
    font-size: 11px;
    color: #ffffff;
    text-decoration: none;
    padding-left: 3px;
    padding-right: 3px;
}
.class23 A:hover
{
    font-family: Trebuchet MS, Arial, Helvetica, sans-serif;
    font-size: 11px;
    color: #333333;
    text-decoration: none;
    padding-left: 3px;
    padding-right: 3px;
}
.ui-menu .ui-menu-item a
{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 12px;
}
.class3 A:link
{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 12px;
    color: #3096D8;
    text-decoration: underline;
}
.class3 A:visited
{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 12px;
    color: #3096D8;
    text-decoration: underline;
}
.class3 A:active
{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 12px;
    color: #3096D8;
    text-decoration: underline;
}
.class3 A:hover
{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 12px;
    color: #3096D8;
    text-decoration: underline;
}
.class4 A:link
{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 12px;
    color: #3096D8;
    text-decoration: underline;
    line-height: 24px;
}
.class4 A:visited
{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 12px;
    color: #3096D8;
    text-decoration: underline;
}
.class4 A:active
{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 12px;
    color: #3096D8;
    text-decoration: underline;
}
.class4 A:hover
{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 12px;
    color: #3096D8;
    text-decoration: underline;
}
.contractBodyText
{
    font-family: "Times New Roman" , Times, serif;
    font-size: 11px;
    color: #000;
}
.contractRow
{
    font-family: "Times New Roman" , Times, serif;
    font-size: 11px;
    color: #000;
    padding: 2px;
    border-bottom-width: 1px;
    border-top-style: none;
    border-right-style: none;
    border-bottom-style: solid;
    border-left-style: none;
    border-bottom-color: #CCC;
}
/*------------ User Editor Styles --  ---- ------------*/

/*------------ Workflow Monitor Styles ----------------*/
.workflowText
{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 12px;
    color: red;
    line-height: 135%;
    border-bottom: 1px solid #ccc;
    padding: 2px 8px 2px 8px;
}
.workflowTextHead
{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 12px;
    font-weight: bold;
    color: #333333;
    padding: 2px 8px 2px 8px;
    border-bottom: 1px solid #333333;
    background-color: #badf94;
}
.workflowMonitor
{
    background-color: #7bc045;
    border-top-right-radius: 1em;
    border-top-left-radius: 1em;
    border-bottom-right-radius: 1em;
    border-bottom-left-radius: 1em;
    -webkit-border-radius: 8px 8px 8px 8px;
    -moz-border-radius: 8px 8px 8px 8px;
    behavior: url(../css/PIE.htc);
}
.workflowMonitorInterior
{
    background-color: #FFF;
    border-top-right-radius: 1em;
    border-top-left-radius: 1em;
    border-bottom-right-radius: 1em;
    border-bottom-left-radius: 1em;
    -webkit-border-radius: 0px 0px 16px 16px;
    -moz-border-radius: 0px 0px 16px 16px;
    behavior: url(../css/PIE.htc);
}
.workflowMonitorItems
{
    text-align: left;
    color: Red;
}
/*------------ Workflow Monitor Styles ----------------*/

/*------------ Matrics Report Styles ----------------*/
.matricsreportText
{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 12px;
    color: red;
    line-height: 135%;
    border-bottom: 1px solid #ccc;
    padding: 2px 8px 2px 8px;
}
.matricsreportTextHead
{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 12px;
    font-weight: bold;
    color: #333333;
    padding: 2px 8px 2px 8px;
    border-bottom: 1px solid #333333;
    background-color: #e6f4fe;
}

.matricsreportHead
{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 12px;
    font-weight: bold;
    color: #fff;
    padding: 2px 4px 2px 4px;
    background-color: #57a1d3;
}

.matricsreportMonitor
{
    background-color: #57a1d3;
    border-top-right-radius: 1em;
    border-top-left-radius: 1em;
    border-bottom-right-radius: 1em;
    border-bottom-left-radius: 1em;
    -webkit-border-radius: 8px 8px 8px 8px;
    -moz-border-radius: 8px 8px 8px 8px;
    behavior: url(../css/PIE.htc);
}
.matricsreportMonitorInterior
{
    background-color: #FFF;
    border-top-right-radius: 1em;
    border-top-left-radius: 1em;
    border-bottom-right-radius: 1em;
    border-bottom-left-radius: 1em;
    -webkit-border-radius: 0px 0px 16px 16px;
    -moz-border-radius: 0px 0px 16px 16px;
    behavior: url(../css/PIE.htc);
}
.matricsreportMonitorItems
{
    text-align: left;
    color: #000;
}
/*------------ Matrics Report Styles ----------------*/
/*------------ Action Items Styles ----------------*/
.actionitemText
{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 12px;
    color: red;
    line-height: 135%;
    border-bottom: 1px solid #ccc;
    padding: 2px 8px 2px 8px;
}
.actionitemTextHead
{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 12px;
    font-weight: bold;
    color: #333333;
    padding: 2px 8px 2px 8px;
    border-bottom: 1px solid #333333;
    background-color: #badf94;
}

.actionitemHead
{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 12px;
    font-weight: bold;
    color: #fff;
    padding: 2px 4px 2px 4px;
    background-color: #7bc045;
}

.actionitemMonitor
{
    background-color: #7bc045;
    border-top-right-radius: 1em;
    border-top-left-radius: 1em;
    border-bottom-right-radius: 1em;
    border-bottom-left-radius: 1em;
    -webkit-border-radius: 8px 8px 8px 8px;
    -moz-border-radius: 8px 8px 8px 8px;
    behavior: url(../css/PIE.htc);
}
.actionitemMonitorInterior
{
    background-color: #FFF;
    border-top-right-radius: 1em;
    border-top-left-radius: 1em;
    border-bottom-right-radius: 1em;
    border-bottom-left-radius: 1em;
    -webkit-border-radius: 0px 0px 16px 16px;
    -moz-border-radius: 0px 0px 16px 16px;
    behavior: url(../css/PIE.htc);
}
.actionitemMonitorItems
{
    text-align: left;
    color: Red;
}
/*------------ Action Items Styles ----------------*/


.clinicDetailsHeader
{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 12px;
    font-weight: bold;
    color: #fff;
    padding: 8px;
    border-bottom: 1px solid #999;
    background-color: #debd3a;
}
.clinicDetailsRow
{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 12px;
    font-weight: normal;
    border-bottom: 1px solid #ccc;
    color: #333;
    background-color: #fff;
    padding: 6px 8px;
}
.inputFieldRightAlign
{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 12px;
    color: #333;
    text-align: right;
}
.clinicUpdatesHistoryHeader
{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 12px;
    font-weight: bold;
    color: #fff;
    padding: 8px;
    border-bottom: 1px solid #999;
    background-color: #999;
    border-collapse: collapse;
}

.outreachTitle
{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 24px;
    color: #58595b;
    padding-left: 32px;
}

.outreachTitleRight
{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 30px;
    color: #999;
    padding-right: 12px;
    padding-bottom: 6px;
    padding-left: 20px;
    vertical-align: bottom;
    text-align: right;
}
/*------------ Workflow Monitor Styles ----------------*/
/*------------ Metrics Monitor Styles ----------------*/
.metricsText
{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 12px;
    color: red;
    line-height: 135%;
    border-bottom: 1px solid #ccc;
    padding: 2px 8px 2px 8px;
}
.metricsTextHead
{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 12px;
    font-weight: bold;
    color: #333333;
    padding: 2px 8px 2px 8px;
    border-bottom: 1px solid #333333;
    background-color: #9fcdeb;
}
.metricsMonitor
{
    background-color: #57a1d3;
    border-bottom-right-radius: .5em;
    border-bottom-left-radius: .5em;
    -webkit-border-radius: 0px 0px 8px 8px;
    -moz-border-radius: 0px 0px 8px 8px;
    behavior: url(../css/PIE.htc);
}
.metricsMonitorInterior
{
    background-color: #FFF;
    border-bottom-right-radius: 1em;
    border-bottom-left-radius: 1em;
    -webkit-border-radius: 0px 0px 16px 16px;
    -moz-border-radius: 0px 0px 16px 16px;
    behavior: url(../css/PIE.htc);
}
.metricsMonitorItems
{
    text-align: left;
    color: Red;
}
/*------------ Metrics Monitor Styles ----------------*/
/*------------ Snapshot HCS Section Styles ----------------*/

.snapshotHCSTextHead
{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 14px;
    color: #FFF;
    padding: 6px 8px 6px 8px;
    border-top: 1px solid #999;
    border-left: 1px solid #999;
    border-right: 1px solid #999;
    background-color: #57a1d3;
    font-weight: bold;
    text-align: left;
}
.snapshotHCSMonitor
{
    background-color: #e6f4fe;
    border-bottom: 1px solid #999;
    border-left: 1px solid #999;
    border-right: 1px solid #999;
}

/*------------ Snapshot HCS Section Styles ----------------*/
/*------------ Corporate Clinics HCS Section Styles ----------------*/

.corporateHCSTextHead
{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 14px;
    color: #FFF;
    padding: 6px 8px 6px 8px;
    border-top: 1px solid #999;
    border-left: 1px solid #999;
    border-right: 1px solid #999;
    background-color: #7bc045;
    font-weight: bold;
}
.corporateHCSMonitor
{
    background-color: #d8f1c4;
    border-bottom: 1px solid #999;
    border-left: 1px solid #999;
    border-right: 1px solid #999;
}

/*------------ Corporate Clinics HCS Section Styles ----------------*/
/*------------ Mail HCS Section Styles ----------------*/

.mailHCSTextHead
{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 14px;
    color: #FFF;
    padding: 6px 8px 6px 8px;
    border-top: 1px solid #999;
    border-left: 1px solid #999;
    border-right: 1px solid #999;
    background-color: #e31837;
    font-weight: bold;
}
.mailHCSMonitor
{
    background-color: #fbd1d7;
    border-bottom: 1px solid #999;
    border-left: 1px solid #999;
    border-right: 1px solid #999;
}

/*------------ Mail HCS Section Styles ----------------*/

/*------------ Local Leads HCS Section Styles ----------------*/

.localLeadsHCSTextHead
{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 14px;
    color: #FFF;
    padding: 6px 8px 6px 8px;
    border-top: 1px solid #999;
    border-left: 1px solid #999;
    border-right: 1px solid #999;
    background-color: #fbac02;
    font-weight: bold;
}
.localLeadsHCSMonitor
{
    background-color: #fbe4b1;
    border-bottom: 1px solid #999;
    border-left: 1px solid #999;
    border-right: 1px solid #999;
}

/*------------ Local Leads HCS Section Styles ----------------*/

.clinicDetailsHeader
{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 12px;
    font-weight: bold;
    color: #fff;
    padding: 8px;
    border-bottom: 1px solid #999;
    background-color: #debd3a;
}
.clinicDetailsRow
{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 12px;
    font-weight: normal;
    border-bottom: 1px solid #ccc;
    color: #333;
    background-color: #fff;
    padding: 6px 8px;
}
.inputFieldRightAlign
{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 12px;
    color: #333;
    text-align: right;
}
.clinicUpdatesHistoryHeader
{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 12px;
    font-weight: bold;
    color: #fff;
    padding: 8px;
    border-bottom: 1px solid #999;
    background-color: #999;
    border-collapse: collapse;
}

.class5 A:link
{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 15px;
    color: #3096D8;
    text-decoration: underline;
}
.class5 A:visited
{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 15px;
    color: #3096D8;
    text-decoration: underline;
}
.class5 A:active
{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 15px;
    color: #3096D8;
    text-decoration: underline;
}
.class5 A:hover
{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 15px;
    color: #3096D8;
    text-decoration: underline;
}
