@charset "UTF-8";
.backgroundGradient {
	background-image: url(../schedulerImages/bg-gradient.gif);
	background-repeat: repeat-x;
	background-position: top;
}
.dropShadow {
	-moz-box-shadow: 0 3px 5px #888;
	-webkit-box-shadow: 0 3px 5px#888;
	box-shadow: 0 3px 5px #888;
}
.banner {
	background-color: #3096D8;
	height: 24px;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 24px;
	color: #FFF;
	padding-top: 6px;
	padding-right: 24px;
	padding-bottom: 4px;
	padding-left: 24px;
}
.banner1 {
	background-color: #808080;
	height: 24px;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 24px;
	color: #FFF;
	padding-top: 6px;
	padding-right: 24px;
	padding-bottom: 4px;
	padding-left: 24px;
}
.headlineText {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 24px;
	font-style: italic;
	font-weight: bold;
	color: #333;
	text-align: left;
	vertical-align: top;
	padding-top: 24px;
	padding-right: 24px;
	padding-left: 24px;
}
.bodyText {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 14px;
	color: #333;
	text-align: left;
	vertical-align: top;
	padding-top: 12px;
	padding-right: 24px;
	padding-bottom: 24px;
	padding-left: 24px;
}
.footerText {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	color: #666;
	text-align: left;
	vertical-align: top;
	padding-right: 24px;
	padding-left: 24px;
	background-color:#E0E0E0;
	padding-top: 24px;
	padding-bottom: 24px;
}
.wagsSchedButton 
{
    position: relative;
	background-color:#82c949;
	-moz-border-radius:5px;
	-webkit-border-radius:5px;
	border-radius:5px;
	display:inline-block;
	cursor:pointer;
	color:#ffffff;
	font-family:arial;
	font-size:13px;
	font-weight:bold;
	padding:7px 24px;
	text-decoration:none;	
	behavior:url(PIE.htc);
	-moz-box-shadow:
		0px 1px 1px rgba(000,000,000,0.1),
		inset 0px 1px 1px rgba(255,255,255,0.7);
	-webkit-box-shadow:
		0px 1px 1px rgba(000,000,000,0.1),
		inset 0px 1px 1px rgba(255,255,255,0.7);
    top: 0px;
    left: 0px;
}
.wagsSchedButton:hover 
{
    position: relative;
	background-color:#87d646;
}
.wagsSchedButton:active {
	position:relative;
	top:1px;
}
.wagsSchedBigButton 
{    
	background-color:#82c949;
	-moz-border-radius:5px;
	-webkit-border-radius:5px;
	border-radius:5px;
	display:inline-block;
	cursor:pointer;
	color:#ffffff;
	font-family:arial;
	font-size:16px;
	font-weight:bold;
	padding:12px 24px;
	text-decoration:none;
	position: relative;	
    behavior:url(PIE.htc);
	-moz-box-shadow:
		0px 1px 1px rgba(000,000,000,0.1),
		inset 0px 1px 1px rgba(255,255,255,0.7);
	-webkit-box-shadow:
		0px 1px 1px rgba(000,000,000,0.1),
		inset 0px 1px 1px rgba(255,255,255,0.7);
}

.wagsSchedSmallButton 
{    
	background-color:#82c949;
	-moz-border-radius:5px;
	-webkit-border-radius:5px;
	border-radius:5px;
	display:inline-block;
	cursor:pointer;
	color:#ffffff;
	font-family:arial;
	font-size:13px;
	font-weight:bold;
	padding:2px 4px;
	text-decoration:none;	
    behavior:url(PIE.htc);
	-moz-box-shadow:
		0px 1px 1px rgba(000,000,000,0.1),
		inset 0px 1px 1px rgba(255,255,255,0.7);
	-webkit-box-shadow:
		0px 1px 1px rgba(000,000,000,0.1),
		inset 0px 1px 1px rgba(255,255,255,0.7);	
}

.wagsSchedBigButton:hover 
{
    position: relative;
	background-color:#87d646;
}
.wagsSchedBigButton:active {
	position:relative;
	top:1px;
}

.wagsSchedButtonYellow {
	background-color:#ffcc33;
	-moz-border-radius:5px;
	-webkit-border-radius:5px;
	border-radius:5px;
	display:inline-block;
	cursor:pointer;
	color:#000000;
	font-family:arial;
	font-size:13px;
	font-weight:bold;
	padding:7px 24px;
	text-decoration:none;
}
.wagsSchedButtonYellow:hover {
	background-color:#ffcc33;
}
.wagsSchedButtonYellow:active {
	position:relative;
	top:1px;
}

.wagsSchedBigButtonYellow {
	background-color:#ffcc33;
	-moz-border-radius:5px;
	-webkit-border-radius:5px;
	border-radius:5px;
	display:inline-block;
	cursor:pointer;
	color:#000000;
	font-family:arial;
	font-size:16px;
	font-weight:bold;
	padding:12px 24px;
	text-decoration:none;
}
.wagsSchedBigButtonYellow:hover {
	background-color:#87d646;
}
.r-color:#999;
	border-stt:active {
	position:relative;
	top:1px;
}

.wagsSchedulerGreyBkgd {
	background-color: #EFEFEF;
	border-color:#999;
	border-style:solid;
	border-width: 1px;	
}
.pageTitle {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 18px;
	font-weight: bold;
	color: #333;
	padding-bottom: 8px;
}
.formFields {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	color: #333;
}.bodyText14 {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 14px;
	color: #333;
	line-height: 125%;
}

.wagsSchedButtonGray 
{    
	background-color:#999999;
	-moz-border-radius:5px;
	-webkit-border-radius:5px;
	border-radius:5px;
	display:inline-block;
	cursor:pointer;
	color:#ffffff;
	font-family:arial;
	font-size:13px;
	font-weight:bold;
	padding-top:7px;
	padding-bottom:7px;
	padding-right:16px;
	padding-left:8px;	
	text-decoration:none;
	behavior:url(PIE.htc);		
	-moz-box-shadow:
		0px 1px 1px rgba(000,000,000,0.1),
		inset 0px 1px 1px rgba(255,255,255,0.7);
	-webkit-box-shadow:
		0px 1px 1px rgba(000,000,000,0.1),
		inset 0px 1px 1px rgba(255,255,255,0.7);	
	text-align:center;
}

.wagsSchedButtonGray:hover 
{
    position: relative;
	background-color:#9a9a9a;
}

.wagsSchedButtonGray:active {
	position:relative;
	top:1px;
}
